
/*!
 * Pandora's documentation styles
 * Special styles for presenting Pandora's documentation and examples
 */


.hide-clip {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
}


/* code examples
-------------------------------------------------- */

/* Base class */
.docs-example {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

/* Echo out a label for the example */
.docs-example:after {
  content: "Example";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  -webkit-border-radius: 4px 0 4px 0;
     -moz-border-radius: 4px 0 4px 0;
          border-radius: 4px 0 4px 0;
}

/* Remove spacing between an example and it's code */
.docs-example + .prettyprint {
  margin-top: -20px;
  padding-top: 15px;
}

/* Tweak examples
------------------------- */
.docs-example > p:last-child {
  margin-bottom: 0;
}
.docs-example .table,
.docs-example .progress,
.docs-example .well,
.docs-example .alert,
.docs-example .hero-unit,
.docs-example .pagination,
.docs-example .navbar,
.docs-example > .nav,
.docs-example blockquote {
  margin-bottom: 5px;
}
.bs-docs-example .pagination {
  margin-top: 0;
}

body {
  font: 14px/1.5 Tahoma,Arial,\5b8b\4f53; 
  color:#333;
  /* background: #eee;
  background:url(../../xOne/images/bg.jpg) #fff center -8px no-repeat; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-weight: bold;
  line-height: 22px;
}

h1,
h2,
h3 {
  line-height: 40px;
}
h1 { font-size:36px;}
h2 { font-size:28px;}
h3 { font-size:22px;}
h4 { font-size:18px;}
h5 { font-size:14px;}
h6 { font-size:12px;}

/* 标题应该更贴紧内容，并与其他块区分，margin 值要相应做优化 @引自sofish的typo.css */
h1,h2,h3,h4,h5,h6 {
    margin: 1em 0 0.6em;
    line-height: 1;
    font-weight: bold;
}
h1 { font-size: 2.6em;}
h2 { font-size: 2em;}
h3 { font-size: 1.6em;}
h4 { font-size: 1.3em;}
h5, h6 { font-size: 1em;}

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #888;
}
h1 small { font-size: 24px;}
h2 small { font-size: 18px;}
h3 small { font-size: 14px;}
h4 small { font-size: 14px;}

.lead {
  margin: 1em 0;
  font-size: 1.4em;
  font-weight: 200;
  line-height: 1em;
}
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

p { margin: 1em 0 0.6em;}
 
.docs-example h1:first-child,
.docs-example h2:first-child,
.docs-example h3:first-child,
.docs-example h4:first-child,
.docs-example p:first-child {
    margin-top: 0;
}













