
/*!
 * module v1.0
 * Adapted from  https://github.com/webcoding/cnBootstrap
 */


.label,
.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.label {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
     -moz-border-radius: 9px;
          border-radius: 9px;
}

.label:empty,
.badge:empty {
  display: none;
}

a.label:hover,
a.label:focus,
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}

.label-important,
.badge-important {
  background-color: #b94a48;
}

.label-important[href],
.badge-important[href] {
  background-color: #953b39;
}

.label-warning,
.badge-warning {
  background-color: #f89406;
}

.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.label-success,
.badge-success {
  background-color: #468847;
}

.label-success[href],
.badge-success[href] {
  background-color: #356635;
}

.label-info,
.badge-info {
  background-color: #3a87ad;
}

.label-info[href],
.badge-info[href] {
  background-color: #2d6987;
}

.label-inverse,
.badge-inverse {
  background-color: #333333;
}

.label-inverse[href],
.badge-inverse[href] {
  background-color: #1a1a1a;
}

.btn .label,
.btn .badge {
  position: relative;
  top: -1px;
}

.btn-mini .label,
.btn-mini .badge {
  top: 0;
}



/* .tag 标签内使用 arial 字体垂直居中表现很好
 * author: linjianfeng@baixing.com
 */
.tag {
    font-family: Arial,sans-serif;
    display: inline-block;
    padding: 0 3px;
    padding: 1px 3px 0\9;
    background: #eee;
    margin: 0 3px;
    border-radius: 2px;
    color: #888 !important;
}
.tag-blue, 
.tag-green, 
.tag-red, 
a.tag:hover {
    color: #fff !important;
}
.tag-blue { background: #08c; }
.tag-green { background: #5ba533; }
.tag-red { background: #f36; }
a.tag:hover { 
    background: #888;
    text-decoration: none;
    color: #fff !important;
}


/* Other tags: tagcc,tagback */

.tagcc,
.tagback {
    display: inline-block;
    margin-left: 4px;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    cursor: default;
}

.tagcc {
    padding: 0 4px;
    background: #ff9614;
    color: #fff;
    height: 16px;
    line-height: 16px;
}

.tagback {
    display: inline-block;
    color: #ff9614;
    border: 1px solid #ff9614;
    height: 14px;
    line-height: 14px;
}
.tagback:hover {
    text-decoration: none;
    color: #ff9614;
}
.tagback em,
.tagback i { 
    display: inline-block;
    font-style: normal;
    overflow: hidden;
    height: 100%;
}
.tagback em {
    display: inline-block;
    float: left;
    padding: 0 2px;
    background: #ff9614;
    color: #fff;
}
.tagback i {
    padding: 0 3px;
    min-width: 30px;
    _width: 30px;
    text-align: center;
}


