
/*!
 * typo.css v1.0
 * 此样式实现页面基本排版，基于normalize.css 样式
 */

/* alice要实现每个组件都不依赖基础样式，这样有必要么，会影响性能么
.module * { 
    margin:0;
    padding:0;
}
*/

body { font:14px/1.5 Tahoma,Arial,\5b8b\4f53; }

p {
  margin: 0 0 10px;
}
.nm p {
  margin:0;
}

small {
  font-size: 80%;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}
.rose { color:#ff0080;}
.white { color: white;}
.red { color: red;}
.green { color: green;}
.blue { color: blue;}
.orange { color: orange;}
.gray { color: gray;}
.cc1{ color: #e38;}
.cc2{ color: #f60;}

.muted {
  color: #999999;
}

a.muted:hover,
a.muted:focus {
  color: #808080;
}

.text-warning {
  color: #c09853;
}

a.text-warning:hover,
a.text-warning:focus {
  color: #a47e3c;
}

.text-error {
  color: #b94a48;
}

a.text-error:hover,
a.text-error:focus {
  color: #953b39;
}

.text-info {
  color: #3a87ad;
}

a.text-info:hover,
a.text-info:focus {
  color: #2d6987;
}

.text-success {
  color: #468847;
}

a.text-success:hover,
a.text-success:focus {
  color: #356635;
}

.tl {
  text-align: left;
}

.tr {
  text-align: right;
}

.tc {
  text-align: center;
}


ul.ul,
ol.ol {
  padding: 0;
  margin: 0 0 10px 25px;
}
ul.ul ul,
ul.ul ol,
ol.ol ol,
ol.ol ul {
  margin-bottom: 0;
}
ul.ul { list-style-type: disc;}
ol.ol { list-style-type: decimal;}
ul.ul ul ,
ol.ul ul { list-style-type: circle;}
ul.ul ol ,
ol.ul ol { list-style-type: lower-alpha;}


li {
  line-height: 20px;
}

ul.ul.unstyled,
ol.ol.unstyled {
  margin-left: 0;
  list-style: none;
}

ul .inline,
ol .inline {
  margin-left: 0;
  list-style: none;
}

ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-right: 5px;
  padding-left: 5px;
  *zoom: 1;
}

dl {
  margin-bottom: 20px;
}

dt,
dd {
  line-height: 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 10px;
}

.dl-horizontal {
  *zoom: 1;
}

.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  line-height: 0;
  content: "";
}

.dl-horizontal:after {
  clear: both;
}

.dl-horizontal dt {
  float: left;
  width: 160px;
  overflow: hidden;
  clear: left;
  text-align: right;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dl-horizontal dd {
  margin-left: 180px;
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

blockquote.pull-right small:before {
  content: '';
}

blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}



