/*!
 * plugin style
**/


/* ------------------------------------------------------------
  ui-components v1.0
  Create: 2012-09-14
  Last Updated: 2013-01-18
  Author: Cloudyan
  Contact: qqGroup:187260298 1395093509@qq.com
  Description: 包含最常用且基本的组件(不要轻易修改此样式表中的样式，详询Author)
------------------------------------------------------------ */


/* 四种常用css注释
 * 比较复杂的组件-变化组合较多，需要详细说明
 * 一般组件比较简单，只需简单说明
 * 简单组件但代码比较多，需要清晰划分css区块
 * 简单注释，只需功能性描述
 */


/**
 * @name      : alert
 * @explain   : 操作提示
 * @type      : 基类 .alert
 * @dependent : 无
 * @author    : Cloudyan
 * @version   : 1.0
 * @html      :

<div class="tips">  
  <span class="tips-ico"><span class="ico-ok"><!-- 图标 --></span></span>
  <div class="tips-content">
   <div class="tips-title">提示标题</div>
   <div class="tips-line">提示描述</div>
     <div class="tips-buttons">
   <a class="btn-white" href="#"><span>按钮</span></a>
   <a href="#">链接</a>
   </div>
  </div>
</div>
 */

/**
 * @name:           UI CSS Framework 1.0
 * @author:         Oricode UI
 * @description:    UI 组件描述
 */

/* Misc visuals-其他视觉效果
----------------------------------*/

/* Corner radius-圆角 */	


/* 常用css注释举例结束
 **************************
 *********  end  **********
 **************************
 */

/* （页面html说明举例）搜索页面主体内容 
 * 边栏盒模型aside-box 单独定义盒子请附加具体的盒子名称，样式在自定义class名下定义
 * 如有边框添加class="lv-bd"
 * 尽量保持结构设计上的统一，保持页面中的注释风格，示例如下：
 * 注释开始 <!-- 盒子功能名称\\ -->
 * 注释结束 <!-- //盒子功能名称 -->
 */














/**
 * @name:           UI CSS Framework 1.0
 * @author:         Oricode Group
 * @description:    UI 组件描述
 */





 
/**
  * @name      : mini-tips ===tips alert msg-
  * @explain   : 操作提示
  * @type      : 基类 .tips .alert
  * @expand    : 扩展 -info -success -error -warning -help -stop -wait === message danger
  * @dependent : Oricode
  * @author    : Cloudyan
  * @version   : 1.0
  * @html      :

<span class="mtips tips-ico-info"></span>

<div class="tips tips-info">
	<span class="tips-ico"></span>
	安全提醒：自行编辑，非系统消息
</div>

<div class="alert alert-info">
	<span class="alert-ico"></span>
	<h3>Binggo！操作状态提醒！</h3>
	<p>您现在可以去畅游网络了。</p>
</div>

<div class="alert alert-warning">
	<button type="button" class="close" data-dismiss="alert">×</button>
	<span class="alert-ico"><!-- 图标 --></span>
	<div class="alert-content">
		<div class="alert-title">提示标题</div>
		<div class="alert-line">提示描述</div>
		<div class="alert-buttons">
			<a class="btn-white" href="#"><span>按钮</span></a>
			<a href="#">链接</a>
		</div>
	</div>
</div>

 */
.mtips,.tips-ico,span.tips,.alert-ico{display:inline-block;*display:inline;*zoom:1;}
.mtips,.tips-ico,.alert-ico{ background:url(img/icon-alert.png) -1000px -1000px no-repeat; }

/* tips */
.mtips,.tips .tips-ico{ width:14px; height:14px; margin-right:5px; background-position:0 -34px}
.tips .tips-ico {float:left;}
.tips{ margin:0; background:#f9f9f9;border:1px solid #d4d4d4;padding:8px 10px; line-height:14px;}
.tips-info .tips-ico,.tips-ico-info{ background-position:0 -34px}
.tips-warning .tips-ico,.tips-ico-warning{ background-position:-14px -34px}
.tips-error .tips-ico,.tips-ico-error{background-position:-28px -34px}
.tips-success .tips-ico,.tips-ico-success{ background-position:-42px -34px}
.tips-help .tips-ico,.tips-ico-help{ background-position:-56px -34px}
.tips-stop .tips-ico,.tips-ico-stop{ background-position:-70px -34px}
.tips-wait .tips-ico,.tips-ico-wait{ background-position:-84px -34px}

.tips-info{background:#e5f5ff;border:1px solid #c9d5e2}
.tips-warning{background:#ffffe0;border:1px solid #ff8801}
.tips-error{background:#fff2f2;border:1px solid #f44}
.tips-success{background:#f1ffe2;border:1px solid #7dc25e}
.tips-help{background:#e5f5ff;border:1px solid #c9d5e2}
.tips-stop{background:#fceee8;border:1px solid #f6c8b5}
.tips-wait{background:#e5f5ff;border:1px solid #c9d5e2}

.tips-arrowup{display:inline-block;height:10px;left:40px;margin-left:-8px;position:absolute;text-indent:-9999em;width:16px;z-index:1;top:-9px;_top:-8px}
.tips-arrowup-message{background-position:-194px -39px}
.tips-arrowup-warning{background-position:-211px -39px}

/* mini-tips */
.mtips{ border:none;width:14px; height:14px;}

/* alert */
.alert .alert-ico{ width:32px; height:32px; float:left; margin:0 0 0 -45px; background-position:0 -34px}
.alert{ background:#f9f9f9;border:1px solid #d4d4d4; padding:20px 30px 20px 65px;}
.alert .alert-title{ font-size:14px; font-weight:bold;}
.alert .alert-title,.alert .alert-line,.alert p{ margin:0}
.alert-info .alert-ico{ background-position:0 0}
.alert-warning .alert-ico{ background-position:-32px 0}
.alert-error .alert-ico{background-position:-64px 0}
.alert-success .alert-ico{ background-position:-96px 0}
.alert-help .alert-ico{ background-position:-128px 0}
.alert-stop .alert-ico{ background-position:-160px 0}
.alert-wait .alert-ico{ background-position:-192px 0}

.alert-info{background:#e5f5ff;border:1px solid #c9d5e2}
.alert-warning{background:#ffffe0;border:1px solid #ff8801}
.alert-error{background:#fff2f2;border:1px solid #f44}
.alert-success{background:#f1ffe2;border:1px solid #7dc25e}
.alert-help{background:#e5f5ff;border:1px solid #c9d5e2}
.alert-stop{background:#fceee8;border:1px solid #f6c8b5}
.alert-wait{background:#e5f5ff;border:1px solid #c9d5e2}

.alert-title{ font-size:14px; font-weight:bold}
.alert-line{ font-size:12px; line-height:22px;}

button.close {padding:0;cursor:pointer;background:transparent;border:0;-webkit-appearance:none;}
.alert .close{position:relative; width:24px; height:24px;top:-18px;right:-28px;line-height:22px;}


/**
 * @name      : Autocomplete Plugin
 * @explain   : 自动完成插件
 * @type      : 基类 .auto >> auto-big auto-list
 * @dependent : 无
 * @author    : Cloudyan
 * @version   : 1.0
 * @html      :

 */
.auto{font:12px/22px \5b8b\4f53,Tahoma,Arial; width:277px; overflow:hidden;border:1px solid #dbdbdb;background: #fff;
box-shadow:2px 2px 2px 0 rgba(102,102,102,0.2);}
.auto a{color:#333; text-decoration:none}
.auto a:hover{ color:#e08; text-decoration:underline}
.auto-line{color:#888; font-size:12px;font-weight:normal; margin:0;}
.auto-title{color:#999; font-size:12px; font-weight: normal; border-bottom:1px dotted #dbdbdb}
.auto-box{ padding:5px 10px;}
.auto-mini .auto-box{ padding:0;}
.auto-mini a{ padding:0 10px;}
.a2row,.a3row,.a4row,.a5row{ overflow:hidden;*zoom:1; margin-right:-2px; padding-top:2px; margin-bottom:10px;}
.a2row li,.a3row li,.a4row li,.a5row li{ float:left; display:inline;overflow:hidden;}
.a2row li{ width:49.5%}.a3row li{ width:33.25%}.a4row li{ width:24.9%}.a5row li{ width:19.9%}
.auto a{ display:block; white-space:nowrap;overflow:hidden; text-align:left;}
.a2row a,.a3row a{margin-right:10px;text-overflow:ellipsis;}
.auto-mini a{text-overflow:ellipsis;color:#333;}
.auto-mini a:hover{ background:#ff9cc0;color:#fff; text-decoration:none}

.auto-big{ width:355px;}
.auto-middle{width:277px;}
.auto-small{ width:235px;}
.auto-mini{ width:137px;}




/* pages页码小组件
 * 样式默认玫红色（可缺省rosestyle）
 * 可组合样式orangestyle橙色
 * @html
<div class="pages orangestyle"> <!-- <div id="lv_page"><div class="Pages">可缺省此两级嵌套 -->
	<span class="PageSel">1</span>
	<a href="#">2</a>
	<a href="#">3</a>
	<span class="more">...</span>
	<a href="#">下一页</a>
</div>

// 升级版
<div class="Pages">
	<a class="PrevPage" href="#">上一页</a>
	<a href="#">1</a>
	<span class="PageSel">2</span>
	<a href="#">3</a>
	<a href="#">4</a>
	<a href="#">5</a>
	<a href="#">6</a>
	<span class="PageMore">...</span>
	<a href="#">16</a>
	<a class="NextPage" href="#">下一页</a>
</div>
 */
.pages{margin:10px 0 0;text-align:right;}
.pages a,.pages span{display:inline-block;zoom:1;*display:inline;margin-left:5px;padding:3px 9px; line-height:18px;}
.pages a{border:1px solid #ddd;color:#333;background:#fff;}
.pages .PageSel,.rosestyle .PageSel{font-weight:bold;border:1px solid #df1a7a;color:#fff;background:#df1a7a;}
.pages a:hover,.rosestyle a:hover{ border-color:#df1a7a;color:#df1a7a; text-decoration:none}
.orangestyle .PageSel{font-weight:bold;border:1px solid #f80;color:#fff;background:#f80;}
.orangestyle a:hover{ border-color:#f80;color:#f80; text-decoration:none}

/* Pages页码控制 默认橙色 */
.pages{margin:10px 0 0;text-align:right;}
.Pages a,.Pages span{display:inline-block;zoom:1;*display:inline;margin-left:5px;padding:0 9px; height:25px; line-height:25px;}
.Pages a{border:1px solid #ddd;color:#333; color:#07c;background:#fff;}
.Pages .PageSel,.orangestyle .PageSel{font-weight:bold;color:#fff;border:1px solid #f80;background:#f80;}
.Pages a:hover,.orangestyle a:hover{ text-decoration:none;border-color:#f80;color:#f80;}

.Pages .PrevPage,.Pages .NextPage{ width:55px; padding:0; height:25px;/* color:#07c;*/ line-height:24px; background:url(http://pic.lvmama.com/img/new_v/newBtn_bg.gif) 1000px 1000px no-repeat}
.Pages .PrevPage{ background-position:0 -1817px; text-align:right; padding-right:10px;}
.Pages .NextPage{ background-position:-144px -1817px; text-align:left; padding-left:10px;}
.Pages span.PrevPage,.Pages span.NextPage{color:#ccc;border:1px solid #ddd;}
.Pages span.PrevPage{ background-position:0 -1776px;}
.Pages span.NextPage{ background-position:-144px -1776px;}
.rosestyle .PageSel{border:1px solid #df1a7a;background:#df1a7a;}
.rosestyle a:hover{ border-color:#df1a7a;color:#df1a7a;}
.orangestyle .PageSel{border:1px solid #f80;background:#f80;}
.orangestyle a:hover{ border-color:#f80;color:#f80;}


/**
 * @name      : table
 * @explain   : 表格
 * @type      : 基类 table table-line table-border table-full 
 * @dependent : 无
 * @author    : Cloudyan
 * @version   : 1.0
 * @html      :

 */

table {
   border-collapse: collapse;
   border-spacing: 0;
}
table td,table td{padding:3px;}
.table-full{ width:100%;}
.table-loyout{}
.table-line{}
.table-dline{}
.table-border{}
.table-hover{}
.table-striped{}






